header{
    background-image: url("https://thumbs.dreamstime.com/b/%D0%BA%D0%BE-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D1%8B-53745689.jpg");
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 450px;
    opacity: 0.8;
}
div{
    display: block;
}
.readmore{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}
a.readmore:hover{
    color: black;
    background-color: #fff;
}
body{
    margin: 0;
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    display:block;
}
#section-a{
    background-color: #fff;
    padding-bottom: 2em;
    padding-top: 2em;
}
.column{
   column-count: 2; 
}
#kind{
    background-color: grey;
    padding: 2em 1em 1em;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.card-content {
    padding: 1.5em;
}
.card{
    display: block;
}
ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    width: 31%;
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}
#section-d{
    display: flex;
}
#section-d .box:first-child {
    background: #2690d4;
}
#section-d .box {
    padding: 2em;
    color: #fff;
    background: rgb(73, 69, 69);
    width: 100%;
}
footer{
    padding: 2em;
    background: #000;
    color: #fff;
    columns: 2;
}
footer a {
    color: #2690d4;
    text-decoration: none; 
}
@media (max-width: 700px){
    ul{
        flex-direction: column;
    }
    li{
        width: 100%;
    }
    footer{
        columns: 1;
    }
    .column{
        column-count: 1;
    }
    #section-d{
        flex-direction: column;
    }
    #section-d .box{
        padding: 0em;
    }
}
.animation{
    animation-name: slide;
    animation-duration: 2s;
}
@keyframes slide{
    from{
        margin-left: 100%;
    }
    to{
        margin-right: 100%;
    }
}